<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Logger</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <form action="/" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required /><br /><br />

      <label for="req_type">Request Type:</label>
      <input type="text" id="req_type" name="req_type" required /><br /><br />

      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea
      ><br /><br />

      <label for="priority">Priority:</label>
      <select id="priority" name="priority" required>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option></select
      ><br /><br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
